/* A bal oldali sticky menü */
.left-nav {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  padding: 20px;
  height: 10vh;
}

/* A jobb oldali sticky menü */
.right-nav {
  position: fixed;
  top: -30px;
  left: 600px;
  background: linear-gradient(
    90deg,
    rgba(0, 79, 137, 1) 0%,
    rgba(0, 184, 221, 1) 100%
  );
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  border-radius: 50px;
  z-index: 9999;
}
.background {
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-image: url(/public/kepek/nabBGI.jpg);
}

#collapsible-nav-dropdown {
  color: white;
}
/* Az alapértelmezett rejtett dropdown menü */
.nav-item.dropdown .dropdown-menu {
  display: none;
}

/* Hover esetén jelenik meg a dropdown */
.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}
.nav-item.dropdown:hover > .almenu {
  display: block;
  left: 100%; /* A szülő menü jobb oldalára pozicionálás */
  top: 0; /* A szülő elem tetejéhez igazítva */
  position: absolute;
}

/* Animáció a simább megjelenéshez */
.dropdown-menu {
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Hover hatásra az almenü fokozatosan megjelenik */
.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
}

@media (max-width: 768px) {
  .table {
    font-size: 12px;  /* Csökkentsd a betűméretet mobilon */
  }
  .text-end {
    text-align: center; /* Jobb oldalra igazítás mobilon */
  }
}
