
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}


/* A bal oldali sticky menü */
.left-nav {
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  padding: 20px;
  height: 10vh;
}

/* A jobb oldali sticky menü */
.right-nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #f1f1f1;
  padding: 20px;
}
.background{
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
  background-image: url(/public/kepek/nabBGI.jpg);
}

#collapsible-nav-dropdown {
  color: white;
}